
/* color */
$c-w: #fff;
$c-bk: #000;
$c-gy1:#333;
$c-gy2:#666;
$c-gy3:#999;
$c-gy4:#ccc;
$c-gy5:#ddd;
$c-gy6:#eee;
$c-gy7:#f5f5f5;
$c-bu1:#586B8F;
$c-bu2:#ADDCE4;
$c-bu3:#A6E4E7;
$c-bu4:#E3F8FF;
$c-ye1:#FFDD83;
$c-ye2:#FFED78;
$c-ye3:#FEFFEA;
$c-pk1:#FC5C9C;
$c-pk2:#FCCDE2;
$c-pk3:#FCEFEE;
$c-gn1:#36495e;
$c-gn2:#388E3C;
$c-gn3:#4fc08d;
$c-gn4:#8BC34A;
$c-gn5:#DDEEDF;
$c-bdr:#eee;

$c-gnwx1:#1AAD19;
$c-gnwx2:#179B16;
$c-gnwx3:#9ED99D;
$c-redwx1:#E64340;
$c-redwx2:#CE3C39;
$c-redwx3:#EC8B89;

/* font-color */
 .s-fc-w{
    color:$c-w;
  }
  .s-fc-bk{
    color:$c-bk;
  }
  .s-fc-gy1{
    color:$c-gy1;
  }
  .s-fc-gy2{
    color:$c-gy2;
  }
  .s-fc-gy3{
    color:$c-gy3;
  }
  .s-fc-gy4{
    color:$c-gy4;
  }
  .s-fc-gy5{
    color:$c-gy5;
  }
  .s-fc-gy6{
    color:$c-gy6;
  }
  .s-fc-bu1{
    color:$c-bu1;
  }
  .s-fc-bu2{
    color:$c-bu2;
  }
  .s-fc-bu3{
    color:$c-bu3;
  }
  .s-fc-ye1{
    color:$c-ye1;
  }
  .s-fc-ye2{
    color:$c-ye2;
  }
  .s-fc-ye3{
    color:$c-ye3;
  }
  .s-fc-pk1{
    color:$c-pk1;
  }
  .s-fc-pk2{
    color:$c-pk2;
  }
  .s-fc-pk3{
    color:$c-pk3;
  }
  .s-fc-gn1{
    color:$c-gn1;
  }
  .s-fc-gn2{
    color:$c-gn2;
  }
  .s-fc-gn3{
    color:$c-gn3;
  }
  .s-fc-gn4{
    color:$c-gn4;
  }
  .s-fc-gn5{
    color:$c-gn5;
  }


  /* bg-color */
  .s-bg-w{
    color: $c-w;
  }
  .s-bg-gnwx1{
    background-color:$c-gnwx1;
  }
  .s-bg-gnwx2{
    background-color:$c-gnwx2;
  }
  .s-bg-gnwx3{
    background-color:$c-gnwx3;
  }
  .s-bg-redwx1{
    background-color:$c-redwx1;
  }
  .s-bg-redwx2{
    background-color:$c-redwx2;
  }
  .s-bg-redwx3{
    background-color:$c-redwx3;
  }

   /* bdr-color */
  .s-bdr-gnwx1{
    border: 1px solid $c-gnwx1;
  }