
@font-face {
    font-family: 'iconfont';  /* project id 464197 */
    src: url('//at.alicdn.com/t/font_464197_5cqjp38sp4iy66r.eot');
    src: url('//at.alicdn.com/t/font_464197_5cqjp38sp4iy66r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_464197_5cqjp38sp4iy66r.woff') format('woff'),
    url('//at.alicdn.com/t/font_464197_5cqjp38sp4iy66r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_464197_5cqjp38sp4iy66r.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cell:before { content: "\e684"; }
